*{
    margin:0;
    padding:0;
}


#searchInput {
    width: 180px;
    padding: 10px;
    margin-bottom: 0;
    border-radius: 20px;
}

#productList {
  position: absolute;
  top: 100%;      /* aligns directly below the input */
  left: 0;
  margin-top: 0px;  /* removes any extra spacing */
  margin-left:22px;
  padding: 0;     /* ensures no internal gap */
  background: white;
  border: 1px solid #ccc;
  width: 80%;    /* matches input width */
  z-index: 1000;
  border-radius: 20px;
  display: none;
  
}


.product {
    padding: 5px;
}

.product:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 26px;
}









#header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color:rgba(149, 170, 186, 1);
    box-shadow:0px 5px 15px rgba(0,0,0,0.2);
    position: sticky;
    top:0;
    z-index: 100;
}
#navbar{
    display:flex;
    justify-content:center;
    align-items:center;
   
}

#navbar #symbol .b{
    padding:0px 0px;
}



#navbar a{
    text-decoration: none;
    color:black;
    padding:0px;
    
}


#navbar .ab{
    padding:0px 0px;
}

#navbar li{
    padding:0px 23px;
}



#hero{
    background-image:url(./wmremove-transformed.jpeg);
    background-size:cover;
    height: 90vh;
    scroll-margin-block-end: auto;
    background-position: center;
    display:flex;
    flex-direction: column;
    justify-content:center;
    padding:0px 50px;
    align-items: flex-start;
}


#hero h4{
    color:rgb(229, 199, 25);
    font-weight: 200;
    padding:5px;
    

}

#hero h1{
    padding :10px 0px;
    font-size: 35px;
    color:rgb(218, 188, 80);
}

#hero p{
    padding-bottom:10px;
}

#hero button{
    padding:8px 12px;
    font-size:18px;
    font-weight: 600;
    margin-top:5px;
    border-radius: 5px;
    border:none;
}

#hero button:hover{
    background-color: black;
    color:white;
    transition:0.8s
}

#feature .fe-box{
    text-align:center;
    width:240px;
    border:1px solid rgba(42, 189, 234, 0.729);
    margin:15px 8px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.3);
    padding:0px 0px 5px 0px;
}

#feature .fe-box:hover{
    box-shadow:10px 10px 60px rgba(94, 217, 245, 0.5);
}

#feature .fe-box h6{
    display:inline-block;
    padding:6px 8px 8px 6px;
    font-size: 14px;
    background-color: rgba(10, 135, 230, 0.488);
    border-radius: 8px;
}

#feature{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}









#shop-banner iframe {
  width: 100%;
  height: 500px;
  border: none;
  display: block;
}
/* Keep your existing styles untouched */




/* product modify */

#products{
    text-align: center;
    margin-left:10px;
    margin-right:30px;
    margin-top:40px;  
    
}

#products .pro-container{
    margin-top: 30px;
    display:flex;
    justify-content:space-between ;
    flex-wrap: wrap;
    align-items: center;

}

#products .pro-container .pro{
    width:50px;                        /* 23% */
    min-width: 250px;
    margin-top: 20px 0px;
    border:1px solid rgba(42, 189, 234, 0.729);
    padding:10px 18px;
    border-radius: 20px;
    box-shadow:10px 10px 60px rgba(94, 217, 245, 0.5);
    transform: 0.3s ease;
    position:relative;
    margin:0px 30px;
    margin-left:10px;
    margin-bottom:18px;
}

#products h1{
    font-size: 28px;
}

#products p{
    font-size: 16px;
}

#products .pro:hover{
    box-shadow: 30px 30px 44px rgba(94, 217, 245, 0.5);
}
#products .pro img{
    min-width:60%;
    border-radius:20px;
}

#products .pro .des{
    text-align: start;
    padding:10px 0px;
    text-align: left;
    
}

#products .pro .des i{
    color:gold;
}

#products .pro .des span{
    font-size: 16px;
    color:orange;
    font-weight:600;
}

#products .pro .des h5{
    padding: 5px 0px;
}

#products .pro .des h4{
    padding-top:8px;
    font-size: 18px;
    font-weight: 800;
}

#products .pro .cart{
    width:40px;
    height:40px;
    border:2px solid rgba(10, 135, 230, 0.488);
    border-radius: 50%;
    line-height: 40px;
    position:absolute;
    margin-left: 60px;
    margin-top:-43px;
    color:rgb(3, 3, 3);
    font-weight:900;
    font-size:18px;
}



#serv {
   text-align: center;
   align-items:center ;
}

#serv h4{
    color:rgb(238, 48, 27);
    font-weight: 800;
    padding:5px;
    margin-bottom:10px;
    margin-top:28px;

}


#serv button{
    padding:8px 12px;
    margin-top:5px;
    border-radius: 5px;
    background-color:rgb(74, 192, 228);
    cursor:pointer;
    border:none;
}

#serv button:hover{
    background-color: black;
    color:white;
    transition:0.8s
}


#serv p{
    margin-bottom:12px;
}


#serv p .red{
    color:red;
    font-size:18px;
    font-weight: 600;
}

#serv p .blue{
    color:rgb(31, 126, 203);
    font-size:18px;
    font-weight: 600;
}

#serv h2{
    margin-top:24px;
    padding:8px;
}

#serv h5{
    margin-bottom:28px;
}



#sa-banner{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    margin-bottom: 60px;
 }
 #sa-banner .banner-box-1{
    padding-top: 50px;
    padding-left: 40px;
    height: 250px;
    width: 550px;
    background-image: url(./banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#ffffff;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 20px;
 }

  #sa-banner .banner-box-1 h4,span{
    color:white;
  }

  #sa-banner .banner-box-2{
    padding-top: 50px;
    padding-left: 40px;
    height: 250px;
    width: 550px;
    background-image: url(./white-61194fbb-072b-4187-8b2a-999d07058be0.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#ffffff;
    align-items: flex-start;
    flex-direction: column;
    border-radius:20px;
 }

  #sa-banner .span{
    display: block;
    padding-top: 10px;
    font-size: medium;
    
  }
  #sa-banner h2{
    padding-top:10px;
    font-size: medium;
    color: #2e7d32;
    font-size: larger;
  }
   #sa-banner h4{
    color:white;
   }

   /* buttons in banner */
 #sa-banner  .btn{
    font-size: 16px;
    font-weight: 600px;
    margin-top: 30px;
    border-radius: 10px;
    background-color:rgb(42, 164, 216);
    transition-duration: 1s;
    cursor: pointer;
    padding: 8px 16px;
    color: white;
    border: 0px;
    
 }
  #sa-banner .btn:hover{
    color:white;
    background-color:gray;
    bottom: 10px;

  }




#banner3 .banner-box{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: flex-start;
    background-image:url("./covering.png");
    min-width:27%;
    /* width: 350px; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:250px;
    padding:30px;
    margin:10px 5px;
    border-radius: 20px;
}

#banner3 .banner-box{
    color:rgb(197, 212, 225);
    font-size: 15px;
}

#banner3{
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}

#newsletter input{
    height:40px;
    padding:0px 18px;
    font-size:14px;
    border:1px solid transparent;
    border-radius:4px;
    outline:none;
    width:100%;

}

#newsletter button{
    background-color:rgba(10, 135, 230, 0.488);
    color:black;
    white-space:nowrap;
    padding:8px 28px;
    border-radius:6px;
    border:none;
    margin:0px 5px;
}

#newsletter .form{
    display:flex;
    width:30%;
    border:1px solid black;
   
}

#newsletter{
    background-image:url();
    background-color:rgb(36, 36, 33);
    margin:20px 0px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

#newsletter h4{
    color:rgb(197, 212, 225);
    padding:0px 0px 0px 20px;
}

#newsletter p{
    color:rgb(197, 212, 225);
    padding:0px 0px 0px 20px;
}

/* 
#footer {
    display:flex;
    justify-content: space-between; 
    /* margin-left:20px; */
    
    /* background-color:rgba(149, 170, 186, 0.488)
    
      

}

#footer .col{
    margin-left:20px;
}

#footer .col1 a{
    text-decoration: none;
    display:block;
    padding-top:10px;
    
}

#footer .col1 h3{
    margin-top: 38px;
    margin-right:38px;
} */ 

#footer {
   background-color:rgba(149, 170, 186, 0.488);
    color:black;
    padding: 0px 20px 20px;
    font-family: Arial, sans-serif;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    align-items: cover;
    margin-bottom: 0px;
    flex-wrap: wrap;
    margin-top: 0%;
}

#newsletter input {
    padding: 10px;
    margin-right: 0px;
    border: none;
    border-radius: 0px;
}

#newsletter button {
    padding: 0px 20px;
    background: #ff6f61;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.col, .col1 {
    flex: 1;
    margin-left:10px;
    min-width: 200px;
    margin-top: 20px;
    
}


.col1 a {
    display: block;
    color: black; /* optional: make them white */
    text-decoration: none;
    margin: 5px 0; /* spacing between links */
}


.footer-main {
    display: flex;
    justify-content: flex-start;  /* aligns items at start */
    flex-wrap: wrap;
    gap: 80px;                     /* space between columns */
}


.col1 a:hover {
    color: #ff6f61; /* optional hover effect */
}


.footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #444;
    padding-top: 10px;
    font-size: 14px;
}

.icon i {
    margin-right: 10px;
    cursor: pointer;
}






/*product1.html*/

#pro-details .single-pro-image{
    width:40%;
    margin-left:0px;
   
}

.sub-img-group{
    display:flex;
    justify-content: space-between;
    
}

.sub-img-col{
    flex-basis: 24%;
}

#pro-details{
    display:flex;
}

#pro-details .single-product-details{
    margin-left:50px;
    margin-top:20px;
    

}

#pro-details .single-product-details .para{

    color:rgb(7, 1, 13);
    line-height:10px;
    margin-top:10px;
    margin-left:0px;
    line-height: 20px;


}


#mainimg{
    border-radius: 20px;
    border:1px solid rgb(246, 240, 240);
}

.subimg{
    border-radius: 20px;
}

#pro-details {
    display:flex;
    justify-content: space-around;
    border:solid 1px rgb(42, 164, 216);   
    margin-left: 50px;
    margin-right: 50px;
    padding:20px;
   border-radius: 20px;
}

 #pro-details:hover{
    box-shadow:10px 10px 60px rgba(94, 217, 245, 0.5);
}






#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;

}
#cart table img{
    width: 70px;
}
#cart table td:nth-child(1){
    width: 100px;
    align-items: center;
}
#cart table td:nth-child(2){
    width: 150px;
    align-items: center;
}
#cart table td:nth-child(3){
    width: 250px;
    align-items: center;
}
#cart table td:nth-child(4),#cart table td:nth-child(5)
,#cart table td:nth-child(6){
    width: 150px;
    align-items: center;
}
#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cart table thead{
    border: 1px solid #fbf8f8;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0px;
}
#cart table tbody tr td{
    padding-top: 15px;
}
#cart table tbody td{
    font-size: 14px;
}

#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#coupon{
    width: 50%;
    margin-bottom: 30px;
}
#coupon h3{
    padding-bottom: 15px;
}
#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #9ee1e4;
}
#coupon button{
    background-color: #088178;
    color: #fff;
    padding: 10px 20px;
}
#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #9ee1e4;
    padding: 30px;
}
#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#subtotal table td{
    width: 50%;
    border: 1px solid #9ee1e4;
    padding: 10px;
    font-size: 13px; 
}
#subtotal h3{
    padding-bottom: 15px;
}
#subtotal button{
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
    font-size: 12px;
    font-weight: 900;
}













/*each product buy now  size and all*/

#pro-details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  margin: 50px auto;
  width: 80%;
}

.single-pro-image img {
  border-radius: 12px;
}

.sub-img-group {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  gap: 10px;
}

.sub-img-col img {
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.sub-img-col img:hover {
  transform: scale(1.1);
}

.single-product-details h4 {
  margin-top: 10px;
  font-size: 24px;
}

.single-product-details h2 {
  color: #e60023; /* H&M red */
  margin: 10px 0;
}

.single-product-details select {
  padding: 8px;
  margin: 10px 0;
}

#buy-btn {
    margin-top:10px;
  padding: 12px 25px;
  background-color: #e60023;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

#buy-btn:hover {
  background-color: #b0001b;
}